{% extends "home/index.html" %}
{% load static %}
{% block seci_project_content %}

<h2>Formulario de Inscripción</h2>
<hr></hr>

<form action="" method="POST">
    {% csrf_token %}
    {%for field in form%}
    <div class="form-group">
        <label class="col-sm-4 control-label" for="{{ field.name }}">{{ field.label }} : </label>

        <div class="col-sm-8">
            {{ field }}
        </div>
    </div>
    <br>
    {%endfor%}

    <input type="submit" class="btn btn-primary" value="Realizar Inscripción" />
    <br>
    <br>
    <p><a class="btn2 btn-primary" href="{% url 'course:course-list' %}">Regresar a las actividades</a></p>

</form>

{% endblock %}